<!DOCTYPE html>
<html>
<head>
    <title>Monthly Placement Report</title>
</head>
<body>

<h2>Monthly Placement Report</h2>

<table border="1" cellpadding="8">

<tr>
    <th>Total Companies</th>
    <td>{{ total_companies }}</td>
</tr>

<tr>
    <th>Total Drives</th>
    <td>{{ total_drives }}</td>
</tr>

<tr>
    <th>Total Students</th>
    <td>{{ total_students }}</td>
</tr>

<tr>
    <th>Total Applications</th>
    <td>{{ total_applications }}</td>
</tr>

<tr>
    <th>Total Interviews</th>
    <td>{{ total_interviews }}</td>
</tr>

<tr>
    <th>Total Placements</th>
    <td>{{ total_placements }}</td>
</tr>

</table>

<br>

<p>
Generated automatically by Placement Portal.
</p>

</body>
</html>